
<div class="container">
  <div class="row">
    <div class="col-md-2">
    <% if @current_user%>
      <h5> Hi, <%= @current_user.username %> </h5>
      <%= link_to "Sign out", "/sign_out"%>
    <% else %>
      <h5> Hi <%= @current_user.username %> </h5>
      <%= form_with(model: @user, remote: true, class: "d-flex", data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }) do |f| %>
        <%= f.text_field :username, class: "form-control", autocomplete: 'off' %>
        <%= f.submit "Sign in" %>
      <% end %>
             
    <% end %>
      <h4> Chats </h4>
  
      <%= form_with(model: @room, remote: true, class: "d-flex", data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }) do |f| %>
        <%= f.text_field :name, class: "form-control", autocomplete: 'off' %>
        <%= f.submit "Create chat" %>
      <% end %>
      <div>
        <%= turbo_stream_from "rooms" %>
        <div id="rooms">
          <%= render @rooms %>
        </div>
      </div>
    </div>
    <div class="col-md-10 bg-dark text-light">
      <% if @single_room %>
        <h4 class="text-center"> <%= @single_room.name %> </h4>
        <%= turbo_stream_from @single_room %>
        <div id="messages">
          <%= render @messages %>
        </div>
        <%= render partial: 'layouts/new_message_form' %>
      <% end %>
    </div>
  </div>
</div>

  
