
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h4> Chats </h4>
  
      <%= form_with(model: @room, remote: true, class: "d-flex" ) do |f| %>
        <%= f.text_field :name, class: "form-control", autocomplete: 'off' %>
        <%= f.submit data: { disable_with: false } %>
      <% end %>

      <%= turbo_stream_from "rooms" %>
      <div id="rooms">
        <%= render @rooms %>
      </div>
    </div>
    <div class="col-md-10 bg-dark">
      The chat box stays here
    </div>
  </div>

  
</div>